<%= link_to "Delete", book_chapter_path(@book, @chapter), method: :delete, class: "btn btn-danger pull-right", data: {confirm: "Are you sure you want to delete the chapter?"} %>
<%= link_to "Edit", edit_book_chapter_path(@book, @chapter), class: "btn btn-primary pull-right" %>
<%= link_to "Add section", new_book_chapter_section_path(@book, @chapter), class: "btn btn-success pull-right" %>
<h1>
  <%= @chapter.title %>
  <small><%= @book.title %></small>
</h1>
<table class="table table-striped table-hover">
  <% @chapter.sections.each do |section| %>
  <tr>
    <td>
      <%= link_to section.title, book_chapter_section_path(@book, @chapter, section) %>
    </td>
  </tr>
  <% end %>
</table>
